@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
}


/* Card.css */

.card {
  border: 0.7px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

.card-description {
  margin-top: 3px;
}

.card-button {
  background-color: #007bff;
  color: #9d7c7c;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 0.7rem;
  transition: background-color 0.2s;
}

.card-button:hover {
  background-color: #0056b3;
}




/* Popup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-content {
  margin-bottom: 10px;
}

.close-button,
.save-button {
  padding: 10px 1%;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button {
  background-color: #ccc;
}

.save-button {
  background-color: #007bff;
  color: white;
}
